body{
    margin: 0;  
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
#screen{
    display: flex;
    width: 100vw;
    height: 100vh;
}
#sidemenu{
    text-align: center;
    background-color: rgb(44, 44, 44);
    width:20%;
    min-width: 200px;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
h2{
    padding: 0px;
    color:white
}
#pfpholder{
    padding: 20px;
}
#pfp{
    width:180px ;
    height:200px;
    border: 10px solid grey;
    border-radius:50%;
    transition: transform 1s;
}
#pfp:hover{
    opacity: 0.8;
    transform: scale(1.1);
    box-shadow: 3px 3px 5px ;
}
.pagesholder{
    display: flex;
    flex-direction: column;
}
.pagesholder button{
    margin: 12px;
    padding: 5px;
    background-color:cyan;
    border: 1px solid rgb(23, 167, 167);
    border-radius: 20px;
    box-shadow: 3px 3px 5px;
}
.pagesholder button:hover{
    background-color: #008CBA;
    color: rgb(0, 255, 170); 
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer;
}
li{
    padding:5px;
}
#ig{
    height:30px;
}
#mail{
    height:30px;
}
#twitter{
    height:30px;
}
.social{
    display: flex;
    justify-content: space-around;
    
}
#mainmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: rgb(114, 114, 114);
}
#mainmenu #hire{
    width:50%;
    text-align: center;
    padding: 5px;
    border: none;
    transition: transform 0.5s;
    font-variant-caps: all-petite-caps;
    font-size: 20px;
    position: absolute;
    left: 448px;
    top: 361px;
    box-shadow: 3px 3px 5px;
}
#hire:hover{
    opacity: 0.8;
    background-color: aqua;
    border-radius: 7%;
    transform: scale(1.2);
  
}
#mainmenu h1{
    background-color: rgb(0, 255, 106);
    width: 82%;
    text-align: center;
   margin: auto;
   font-variant-caps: small-caps;
}
#jobRequestform{
    background-image: url(./Quan.PNG);
    display: none;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-43%,10%);
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 67%;
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  @-webkit-keyframes animatezoom {
    from {-webkit-transform:translate(-43%,10%) scale(0)} 
    to {-webkit-transform: translate(-43%,10%) scale(1)}
  }
  @keyframes animatezoom {
    from {transform: translate(-43%,10%) scale(0)} 
    to {transform: translate(-43%,10%) scale(1)}
  }
#pnumber{
    width: 22%;
    position: absolute;
    top: 256px;
    left: 110px;
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    text-align: left;
}

#dialcode{
    width: 11%;
    padding: 9px;
    border: 1px solid black;
    background-color: transparent;
    text-align: left;
}

#jobRequestform h2{
    text-align: center;
    color: black;
} 
.input{
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    text-align: left;
}
#submit{
    width: 50%;
    align-self: center;
    border: none;
    padding: 10px;
    background-color: cyan;
    border-radius: 12px;
}
#submit:hover{
    background-color: #008CBA;
    color: rgb(0, 255, 170); 
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer;
}